/* styles.css */

body {
    background-color: #000faa; /*2004 + 2006 = 4010, FAA hexadecimal*/
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #03114e;
    color: rgb(206, 233, 255);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: #000642 0px -50px 36px -28px inset;
}
 header h1{
    font-size: 42px;
    color: rgb(218, 230, 255);

 }

 header h2{
    font-size: 20px;
    color: rgb(218, 230, 255);
 }

nav ul {
    list-style: none;
    padding: 0px;
    margin: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #518ce6;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section.contenido {
    padding: 20px;
    
    background-color: #b6d3ff;
    flex: 1;
    border-radius: 10px;
    max-width: 800px;
    margin: 30px auto;
    box-shadow: rgb(0, 21, 44) 0px 20px 30px -10px;
}

/*section.contenido h2 {
    color: #b30000;
    margin-bottom: 10px;
}*/

section.contenido p {
    font-size: 16px;
    line-height: 1.6;
}

section.contenido ul {
    padding-left: 20px;
}

section.contenido li {
    margin-bottom: 5px;
}

section.contenido2 {
    width: 700px;
    max-width: 1000px;
    margin: 0 auto; /* centra horizontalmente */
    padding: 20px;

}

.conversion {
    background-color: #b6d3ff;
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: rgb(0, 21, 44) 0px 20px 30px -10px;
}


.paso-conversion{
    margin-top: 10px;
    margin-bottom: 20px;
}

.agrupados{
    font-family: monospace;
  background: #a1b7ff;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

.digitos {
    font-family: monospace;
    background: #a1b7ff;
    padding-left: 0.5em;
    font-weight: bold;
  }

.contenido2 h2{
    color: #010735;
    text-align: center;
}
  
hr {
    margin: 30px 0;
    border: none;
    border-top: 2px solid #a1b7ff;
}

footer {
    background-color: #03114e;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
